<h3>New Categorys</h3>
<div class="card">
   <div class="card-body">
      <form action="/admin/categorys/new" method="POST">
         <label for="name">Name:</label>
            <input class="form-control" type="text" id="name" name="name" placeholder="Category name">
         <label for="slug">Slug:</label>
            <input class="form-control" type="text" id="slug" name="slug" placeholder="Category slug">
            <br>
         <button type="submit" class="btn btn-success">Create Category</button>
      </form>
   </div>
</div>