<h2>Lista de Categorys</h2>
<hr>
<a href="/admin/categorys/add"><button class="btn btn-success">Nova Category</button></a>

{{#each categorys}}
   <div class="card mt-4">
      <div class="card-body">
         <h4>{{name}}</h4>
         <small>Slug: {{slug}}</small><br>
         <a href="/admin/categorys/edit/{{_id}}">
            <button class="btn btn-success mt-2">Category Edit</button>
         </a>
      </div>
   </div>
{{else}}

{{/each}}